$myColor: red;
$primaryColor1: #92be9d;
$primaryColor2: #28A745;
$secondaryColor1: #fd7e14;
$secondaryColor2: #FFC107;
$neutralColor1: #F8F9FA;
$neutralColor2: #343A40;

.my-sass{
    color: $primaryColor1;
}