$myColor: red;
$primaryColor1: #92be9d;
$neutralColor1: #F8F9FA;
$neutralColor2: #343A40;

.main-header{
    background-color: $primaryColor1;
    margin-top: 1.5rem;
    margin: 3px;
    padding: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .pltform-name{
        display: flex;
        align-items: center;

        .website-name{
            margin: 0;

            a{
                text-decoration: none;
                color: $neutralColor1;
                font-size: 1.5rem;
                transition: color 0.3s ease;

                &:hover{
                    color: green;
                }
            }
        }
    }

    .header-buttons-container{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        align-items: center;

        .header-buttons{
            a{
                text-decoration: none;
                color: $neutralColor1;
                padding: 0.3rem;
                border: 1px solid white;
                border-radius: 5px;
                transition: background-color 0.3s ease;

                &:hover{
                    background-color: $neutralColor2;
                    color: $neutralColor1;
                }
            }
        }
    }

    @media (max-width: 768px){
        .main-header{
            flex-direction: column;
            align-items: center;
        }

        .pltform-name{
            justify-content: center;
            margin-bottom: 1rem;
        }

        .header-buttons-container{
            flex-direction: column;
            align-items: center;
            column-gap: 2rem;

        }
    }

    @media(max-width: 480px){
        .website-name a{
            font-size: 1.2rem;
        }

        .header-buttons-container .header-buttons a{
            font-size: 0.9rem;
            padding: 0.3rem 0.4rem;
        }
    }
    
}