$primaryColor1: #92be9d;
$neutralColor1: #F8F9FA;
$neutralColor2: #343A40;

.business-home {
  display: flex;
  flex-direction: column;
  background-color: $neutralColor1;
  font-family: Arial, sans-serif;

  .business-header {
    background-color: $primaryColor1;
    color: $neutralColor1;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .dashboard-container {
    margin: 20px;
    display: flex;
    flex-direction: column;

    .heading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px; // Adjust for desired height
      background-color: $primaryColor1;
      color: $neutralColor1;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      .user-dashboard {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }

    .dashboard {
      display: flex;

      .main-content {
        flex: 1;
        padding: 20px;
        background-color: $neutralColor1;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .metrics {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 20px;

          .metric {
            background-color: $primaryColor1;
            border: 1px solid darken($primaryColor1, 10%);
            border-radius: 8px;
            padding: 20px;
            color: $neutralColor2;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

            &:hover {
              transform: translateY(-5px);
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            }

            h3 {
              font-size: 1.2rem;
              margin-bottom: 10px;
            }

            ul {
              list-style: none;
              padding: 0;

              li {
                font-size: 0.9rem;
                margin: 5px 0;
              }
            }

            p {
              font-size: 1rem;
              margin-top: 10px;
            }

            .button-group {
              margin-top: 15px;
              padding: 10px 15px;
              background-color: darken($primaryColor1, 10%);
              color: $neutralColor1;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              font-size: 0.9rem;

              a{
                text-decoration: none;
                color: $neutralColor1;
              }

              &:hover {
                background-color: lighten($primaryColor1, 5%);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
    .dashboard{
        flex-direction: column;

    }

    .heading-container{
        height: auto;
        padding: 20px 10px;

        .user-dashboard{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 480px){
    .dashboard{
        .main-content{
            padding: 10px;
        }

        .metrics{
            grid-template-columns: 1fr;
            gap: 15px;
        }

        .metric{
            padding: 15px;

            h3{
                font-size: 1rem;
            }

            p{
                font-size: 1rem;
            }

            .reviews-button{
                font-size: 0.8rem;
                padding: 8px 10px;
            }
        }
    }

    .heading-container{
        padding: 10px;

        .user-dashboard{
            font-size: 1.5rem;
        }
    }
}
