$primaryColor1: #92be9d;
$neutralColor1: #F8F9FA;
$neutralColor2: #343A40;

.business-home{
    background-color: $neutralColor1;
    color: $neutralColor2;
    font-family: Arial, sans-serif;

    
    .dashboard{
        display: flex;

        .user-dashboard{
            font-size: 32px;
            margin-bottom: 20px;
            text-align: center;
        }

        .main-content{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
            .user-dashboard{
                font-size: 32px;
                margin-bottom: 20px;
                text-align: center;
            }

            .metrics{
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 85%;

                .metric{
                    width: 30%;
                    background-color: lighten($primaryColor1, 20%);
                    padding: 15px;
                    border-radius: 10px;
                    text-align: center;

                    h3{
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}