$primaryColor1: #92be9d;
$neutralColor1: #F8F9FA;
$neutralColor2: #343A40;

.dashboard{
    padding: 40px 20px;
    flex: 1;

    .content{
        max-width: 1200px;
        margin: 0 auto;

        h1{
            font-size: 2rem;
            color: $neutralColor2;
        }

        .user-overview{
            margin-top: 30px;

            h2{
                font-size: 1.5rem;
                color: $primaryColor1;
                margin-bottom: 15px;
            }

            .metric{
                background-color: $neutralColor1;
                padding: 15px;
                border-radius: 8px;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover{
                    background-color: darken($neutralColor1, 10%);
                    border-color: $primaryColor1;
                    cursor: pointer;
                }

                p{
                    margin: 0;
                    color: $neutralColor2;
                    font-weight: bold;
                }

                h4{
                    margin: 0;
                    font-size: 1.5rem;
                    color: $primaryColor1;
                }
            }
        }

        .recommended-business{
            margin-top: 40px;

            h2{
                font-size: 1.5rem;
                color: $primaryColor1;
                margin-bottom: 15px;
            }

            ul{
                list-style: none;
                padding: 0;

                li{
                    background-color: $neutralColor1;
                    padding: 15px;
                    margin-bottom: 10px;
                    border-radius: 8px;

                    &:hover{
                        background-color: darken($neutralColor1, 10%);
                        border-color: $primaryColor1;
                        cursor: pointer;
                    }

                    a{
                        color: $primaryColor1;
                        font-weight: bold;
                        text-decoration: none;
                        font-weight: bold;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    background-color: $neutralColor1;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-list{
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

.modal-card{
    margin-bottom: 20px;
}

.modal-card h4{
    margin: 0;
    font-size: 18px;
}

.modal-card p{
    margin: 5px 0;
}

.clickable{
    cursor: pointer;
    transition: background-color 0.3s;
}

.clickable:hover{
    background-color: rgba(0, 0, 0, 0.1);
}