$primaryColor1: #92be9d;
$neutralColor1: #F8F9FA;
$neutralColor2: #343A40;

.discover-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $neutralColor1;
    font-family: Arial, sans-serif;

    .discover-header{
        text-align: center;
        margin-bottom: 2rem;

        .dicover-heading{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $neutralColor2;
        }

        input[type="text"]{
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid $neutralColor2;
            border-radius: 4px;
            width: 250px;
            margin-right: 0.5rem;
            color: $neutralColor2;
            background-color: $neutralColor1;

            &:focus{
                outline: none;
                border-color: $primaryColor1;
                box-shadow: 0 0 5px $primaryColor1;
            }
        }

        .search-btn{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $primaryColor1;
            color: $neutralColor1;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;

            &:hover{
                background-color: darken($primaryColor1, 10%);
            }
        }
    }

    .business-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 25px;

        .business-card{
            background: $neutralColor1;
            border: 1px solid $neutralColor2;
            border-radius: 8px;
            padding: 1rem;
            text-align: center;
            width: 300px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &:hover{
                outline: none;
                border-color: $primaryColor1;
                box-shadow: 0 0 5px $primaryColor1;
            }

            h3{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                color: $neutralColor2;
            }

            p{
                font-size: 0.9rem;
                color: lighten($neutralColor2, 20%);
                margin-bottom: 0.5rem;
            }

            button{
                background-color: $primaryColor1;
                color: $neutralColor1;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 4px;
                cursor: pointer;
                margin: 8px;

                &:hover{
                    background: darken($primaryColor1, 10%);
                }
            }
        }
    }

    .review-form-layout{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .review-form{
            z-index: 1001;
            background-color: $neutralColor1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            width: 400px;

            form{
                display: flex;
                flex-direction: column;

                input,
                textarea,
                button{
                    margin-bottom: 10px;
                }

                input,
                textarea{
                    padding: 0.8rem;
                    border: 1px solid $neutralColor2;
                    border-radius: 5px;
                    font-size: 1rem;

                    &:focus{
                        outline: none;
                        border-color: $primaryColor1;
                        box-shadow: 0 0 5px $primaryColor1;
                    }
                }

                button{
                    padding: 10px;
                    background: $primaryColor1;
                    color: $neutralColor1;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background 0.3s ease;

                    &:hover{
                        background: darken($primaryColor1, 10%);
                    }
                }
            }
        }
    }
}